{% extends "base.html" %}
{% load static %}
{% block title %}Supervisor Polytech{% endblock %}

{% block style_head %} 
    
{% endblock %}

{% block page_content %}
<div class="main_block_wrapper">
    <div class="main_block_section mb-3">
        <h3 class="fs-2">Мои аспиранты</h3>
        <form class="d-flex col-6" action="{% url 'search_supervisor_student' %}" method="get">
          <input class="form-control me-2" type="search" placeholder="Поиск аспиранта" aria-label="Search" name="query">
          <button class="btn btn-primary btn-search" type="submit">
              <img src="{% static 'images/search_white_30.png' %}"><span>Найти<span>
          </button>
        </form>
    </div>
    <div class="main_block_section mb-3">
        <div class="row">
            <div class="col-sm-1 fw-bold">id</div>
            <div class="col-sm-3 fw-bold">ФИО</div>
            <div class="col-sm-5 fw-bold">Тема диссертации</div>
            <div class="col-sm-2 fw-bold">Специальность</div>
            <div class="col-sm-1 fw-bold">Действия</div>
        </div>
        <hr/>
        {% for postgraduate in postgraduates %}
        <div class="row">
            <div class="col-sm-1">{{ postgraduate.id }}</div>
            <div class="col-sm-3">{{ postgraduate.student.first_name }} {{ postgraduate.student.last_name }}</div>
            <div class="col-sm-5">{{ postgraduate.topics.last.name|safe }}</div>
            <div class="col-sm-2">{{ postgraduate.specialty.code }} {{ postgraduate.specialty.name|truncatechars:50 }}</div>
            <div class="col-sm-1">
                <a href="{% url 'postgraduates:show_student_card' id=postgraduate.id %}"><img src="{% static 'images/view.png' %}" alt="edit" width="28" height="28" title="Просмотреть"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}