{% extends "base.html" %}
{% load static %}
{% block title %}New explanatory note{% endblock %}

{% block style_head %} {% endblock %}

{% block page_content %}
<div class="main_block_section mb-3">
    <h3 class="text-sm-center fs-4">Объяснительная записка к выбору темы научной работы</h3>
    <form action="" class="col-10" method="POST">
        {% csrf_token %}
        <div class="form-group mb-2 text-sm-start">
            <label for="topicality" class="fs-5">{{ form.topicality.label_tag }}</label>
            {{ form.topicality }}
        </div>
        <div class="form-group mb-2 text-sm-start">
            <label for="purpose" class="fs-5">{{ form.purpose.label_tag }}</label>
            {{ form.purpose }}
        </div>
        <div class="form-group mb-2 text-sm-start">
            <label for="scientific_value" class="fs-5">{{ form.scientific_value.label_tag }}</label>
            {{ form.scientific_value }}
        </div>
        <div class="form-group mb-2 text-sm-start">
            <label for="expected_result" class="fs-5">{{ form.expected_result.label_tag }}</label>
            {{ form.expected_result }}
        </div>
        <div class="form-group mb-2 text-sm-start">
            <label for="application_area" class="fs-5">{{ form.application_area.label_tag }}</label>
            {{ form.application_area }}
        </div>
        <div class="d-flex justify-content-between">
              <button class="btn btn-primary col-4" type="submit">Сохранить</button>
              <button class="btn btn-secondary col-4" type="cancel">Очистить</button>	
        </div>
    </form>
</div>
{% endblock %}