{% extends "base.html" %}
{% load static %}
{% block title %}Explanatory note{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" href="{% static 'css/common.css' %}?{% now 'U' %}" type="text/css">
{% endblock %}

{% block page_content %}
<div class="main_block_section mb-3 p-2">
    <h3 class="text-sm-center fs-4">Объяснительная записка к выбору темы научной работы</h3>
    {% for section in expl_note_sections %}
        <div class="note_section col-sm-12 mb-2">
            <div class="row px-3 py-2">
                <div class="card col-sm-12 mb-1">
                    <div class="card-header row">
                        <span class="col-sm-9 fs-5 text-sm-start">{{ section.sort }}.{{ section.title }}</span>
                        <span class="status_info col-sm-2 {{ section.get_status_css }}">{{ section.get_approval_status_display }}</span>
                        <div class="col-sm-1">
                            {% if section.approval_status != 5 %}
                            <a href="{% url 'postgraduates:edit_explanatory_note' id=section.id %}">
                                <img src="{% static 'images/pencil.png' %}" alt="edit" width="28" height="28" title="Редактировать">
                            </a> 
                            <a href="{% url 'postgraduates:delete_explanatory_note' id=section.id %}">
                                <img src="{% static 'images/delete.png' %}" alt="edit" width="28" height="28" title="Удалить">
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body m-0 text-sm-start">
                        <div class="col-sm-12">{{ section.content|default_if_none:''|safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col-10">
    <div class="d-flex justify-content-between">
          <a href="{% url 'postgraduates:create_explanatory_note' %}" class="btn btn-primary col-4">Добавить раздел</a>
    </div>
</div>
</div>
{% endblock %}