{% extends "base.html" %}
{% load static %}
{% block title %}Explanatory note{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" href="{% static 'css/common.css' %}?{% now 'U' %}" type="text/css">
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="main_block_left col-sm-2 mb-3 text-left">
        <nav class="nav nav_left_side flex-column mt-3">
            <a class="nav-link nav_left_link" href="{% url 'postgraduates:show_student_card' id=expl_note.postgraduate.id %}">Карточка аспиранта</a>
            <a class="nav-link nav_left_link" href="{% url 'postgraduates:show_student_explanatory_note' id=expl_note.id %}">Объяснительная записка</a>
            {% for plan in expl_note.postgraduate.study_plans.all %}
            <a class="nav-link nav_left_link" href="{% url 'student_study_plans:show_supervisor_student_plan' id=plan.id %}">{{ plan.plan_type.title }}</a>
            {% endfor %}
        </nav>
    </div>
    <div class="main_block_center col-sm-10 mb-3 text-left">
        <h3 class="text-sm-center fs-4">Объяснительная записка к выбору темы научной работы</h3>
        <p class="text-sm-center fs-5">Аспиранта: {{ expl_note.postgraduate.student.last_name }} {{ expl_note.postgraduate.student.first_name }}</p>
        <div class="study_plan_section col-sm-12 mb-2">
            <div class="row px-3 py-2">
                <div class="card col-sm-12 mb-1">
                    <div class="card-header w-100 d-flex">
                        <span class="d-inline-block float-start ms-0 fs-5">Актуальность темы:</span>
                        <span class="d-inline-block me-1 float-end {{ topic_approval_status_css }}" id="topic_approval_status">
                            {{ expl_note.get_topic_approval_status_display }}
                        </span>
                        <button type="button" class="btn_note_edit btn btn-outline-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#noteEditModal"
                            data-approval_status="{{ expl_note.topic_approval_status }}" data-section_title="Актуальность темы" id="change_topic_status"
                            data-section_name="topic_approval_status">
                            Утвердить
                        </button>
                    </div>
                    <div class="card-body m-0 text-sm-start">
                        <div class="col-sm-12">{{ expl_note.topicality|default_if_none:'' }}</div>
                    </div>
                </div>
                <div class="card col-sm-12 mb-1">
                    <div class="card-header w-100 d-flex">
                        <span class="d-inline-block float-start ms-0 fs-5">Основная цель и задачи диссертации:</span>
                        <span class="d-inline-block me-1 float-end {{ purpose_approval_status_css }}" id="purpose_approval_status">
                            {{ expl_note.get_purpose_approval_status_display }}
                        </span>
                        <button type="button" class="btn_note_edit btn btn-outline-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#noteEditModal"
                            data-approval_status="{{ expl_note.purpose_approval_status }}" data-section_title="Основная цель и задачи диссертации" id="change_purpose_status"
                            data-section_name="purpose_approval_status">
                            Утвердить
                        </button>
                    </div>
                    <div class="card-body m-0 text-sm-start">
                        <div class="col-sm-12">{{ expl_note.purpose|default_if_none:'' }}</div>
                    </div>
                </div>
                <div class="card col-sm-12 mb-1">
                    <div class="card-header w-100 d-flex">
                        <span class="d-inline-block float-start ms-0 fs-5">Новизна и научная значимость диссертации:</span>
                        <span class="d-inline-block me-1 float-end {{ value_approval_status_css }}" id="value_approval_status">
                            {{ expl_note.get_value_approval_status_display }}
                        </span>
                        <button type="button" class="btn_note_edit btn btn-outline-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#noteEditModal"
                            data-approval_status="{{ expl_note.value_approval_status }}" data-section_title="Новизна и научная значимость диссертации" id="change_value_status"
                            data-section_name="value_approval_status">
                            Утвердить
                        </button>
                    </div>
                    <div class="card-body m-0 text-sm-start">
                        <div class="col-sm-12">{{ expl_note.scientific_value|default_if_none:'' }}</div>
                    </div>
                </div>
                <div class="card col-sm-12 mb-1">
                    <div class="card-header w-100 d-flex">
                        <span class="d-inline-block float-start ms-0 fs-5">Ожидаемые результаты:</span>
                            <span class="d-inline-block me-1 float-end {{ result_approval_status_css }}" id="result_approval_status">
                                {{ expl_note.get_result_approval_status_display }}
                            </span>
                        <button type="button" class="btn_note_edit btn btn-outline-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#noteEditModal"
                            data-approval_status="{{ expl_note.result_approval_status }}" data-section_title="Ожидаемые результаты" id="change_result_status"
                            data-section_name="result_approval_status">
                            Утвердить
                        </button>
                    </div>
                    <div class="card-body m-0 text-sm-start">
                        <div class="col-sm-12">{{ expl_note.expected_result|default_if_none:'' }}</div>
                    </div>
                </div>
                <div class="card col-sm-12 mb-1">
                    <div class="card-header w-100 d-flex">
                        <span class="d-inline-block float-start ms-0 fs-5">Область применения:</span>
                        <span class="d-inline-block me-1 float-end {{ application_approval_status_css }}" id="application_approval_status">
                            {{ expl_note.get_application_approval_status_display }}
                        </span>                       
                        <button type="button" class="btn_note_edit btn btn-outline-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#noteEditModal"
                            data-approval_status="{{ expl_note.application_approval_status }}" data-section_title="Область применения" id="change_application_status"
                            data-section_name="application_approval_status">
                            Утвердить
                        </button>
                    </div>
                    <div class="card-body m-0 text-sm-start">
                        <div class="col-sm-12">{{ expl_note.application_area|default_if_none:'' }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="noteEditModal" tabindex="-1" aria-labelledby="noteEditModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header m-0">
                <h5 class="modal-title " id="noteEditModalLabel">Задать статус проверки раздела</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="modal-body-title mb-3"></h5>
                {% csrf_token %}
                <div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="approval_status" id="approval_status_reworked" value="3">
                        <label class="form-check-label" for="approval_status_reworked">
                            Отправить на доработку
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="approval_status" id="approval_status_approved" value="5" checked>
                        <label class="form-check-label" for="approval_status_approved">
                            Утвердить
                        </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary me-5" data-section_name="" data-url="{% url 'postgraduates:approve_explanatory_note' id=expl_note.id %}" 
                    id="model_save_btn" onclick="updateNoteStatus()">
                    Сохранить
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal_close_btn">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/expl_note.js' %}"></script>
{% endblock %}