{% extends "base.html" %}
{% load static %}
{% block title %}Supervisor Polytech{% endblock %}

{% block style_head %} 
    
{% endblock %}

{% block page_content %}
<div class="main_block_wrapper">
    <div class="main_block_section mb-3">
        <h3 class="main_subtitle">Список заявлений</h3>
        <form class="d-flex col-6">
          <input class="form-control me-2" type="search" placeholder="Поиск студентов" aria-label="Search">
          <button class="btn btn-primary btn-search" type="submit">
              <img src="{% static 'images/search_white_30.png' %}"><span>Найти<span>
          </button>
        </form>
    </div>
    <div class="main_block_section mb-3">
        <div class="row">
            <div class="col-sm-1">id</div>
            <div class="col-sm-3">ФИО</div>
            <div class="col-sm-4">Специальность</div>
            <div class="col-sm-1">Форма обучения</div>
            <div class="col-sm-2">Статус</div>
            <div class="col-sm-1">Действия</div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-1">1</div>
            <div class="col-sm-3">Данил Андреев</div>
            <div class="col-sm-4">Психология</div>
            <div class="col-sm-1">Очное</div>
            <div class="col-sm-2">Новое</div>
            <div class="col-sm-1">Просмотр</div>
        </div>
    </div>
</div>
{% endblock %}