{% extends "base.html" %}
{% load static %}
{% block title %}New Application Polytech{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/application_form.css' %}?{% now 'U' %}"/>
{% endblock %}

{% block page_content %}
<div class="main_block_section mb-3">
    <div class="application-form col-10">
        <h4 class="text-center text-uppercase">Заявление</h4>
        <form class="" action="">
            <p class="col-sm-10">
                Прошу допустить меня к сдаче вступительных испытаний для приема 
                на обучение по программе подготовки научных и научно-педагогических 
                кадров аспирантуре в следующем приоритетном порядке: 
            </p>
            <div class="row">
                <div class="form-group mb-2 col-sm-8">
                    <label for="specialty">Наименование научной специальности:</label>
                    <select class="form-select" aria-label="specialty" id="specialty">
                        <option selected>Выберите специальность</option>
                        <option value="1">Химия</option>
                        <option value="2">Физика</option>
                    </select>
                </div>
                <div class="form-group mb-2 col-sm-2">
                    <label for="form-of-study">Форма обучения:</label>
                    <select class="form-select" aria-label="form_of_study" id="form_of_study">
                        <option selected>Выбрать</option>
                        <option value="1">Очное</option>
                        <option value="2">Заочное</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <p class="col-sm-8">
                    Срок освоения образовательной программы составляет 
                    <input type="number" name="number-of-years" style="width: 50px" min="1" max="4"> года.
                </p>
                <div class="form-group mb-2 col-sm-2">
                    <label for="application_date">Дата заявления:</label>
                    <input type="date" class="form-control" id="application_date" name="application_date">
                </div>
            </div>
            <div class="info-block mb-2 p-2">
                <p class="col-10">О себе сообщаю следующие сведения:</p>
                <div class="row">
                    <div class="form-group mb-2 col-sm-4">
                        <label for="last_name">Фамилия:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name">
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="first_name">Имя:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name">
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="middle_name">Отчество:</label>
                        <input type="text" class="form-control" id="middle_name" name="middle_name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col-sm-4">
                        <label for="birth_date">Дата рождения:</label>
                        <input type="date" class="form-control" id="birth_date" name="middle_name">
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="gender">Пол:</label>
                        <select class="form-select" aria-label="Default select example" id="gender">
                          <option selected>Выберите пол</option>
                          <option value="1">Мужчина</option>
                          <option value="2">Женщина</option>
                        </select>
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="citizenship">Гражданство:</label>
                         <select class="form-select" aria-label="Default select example" id="citizenship">
                          <option selected>Выберите страну</option>
                          <option value="1">Кыргызстан</option>
                          <option value="2">Казахстан</option>
                          <option value="3">Россия</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="info-block mb-2 p-2">
                <p class="col-10">Документ, удостоверяющий личность и гражданство:</p>
                <div class="row">
                    <div class="form-group mb-2 col-sm-5">
                      <label for="passport">Вид документа:</label>
                        <input type="text" class="form-control" id="passport" name="passport">
                    </div>
                    <div class="form-group mb-2 col-sm-2">
                        <label for="series">серия:</label>
                        <input type="text" class="form-control" id="series" name="series">
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="number">номер:</label>
                        <input type="text" class="form-control" id="number" name="number">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col-sm-5">
                        <label for="issued_by">Кем выдан:</label>
                        <input type="text" class="form-control" id="issued_by" name="issued_by">
                    </div>
                    <div class="form-group mb-2 col-sm-2">
                        <label for="issue-date">когда выдан:</label>
                        <input type="date" class="form-control" id="issue-date" name="issue-date">
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="personal_number">ИНН:</label>
                        <input type="text" class="form-control" id="personal_number" name="personal_number">
                    </div>
                
                    <div class="col-sm-12">
                        <div class="form-group mb-2 col-sm-11">
                            <label for="birth_place">Место рождения:</label>
                            <input type="text" class="form-control" id="birth_place" name="birth_place">
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block mb-2 p-2">
                <p class="col-10">Контактные данные:</p>
                <div class="row">
                    <div class="form-group mb-2 col-sm-5">
                        <label for="mobile">Номер мобильного телефона:</label>
                        <input type="text" class="form-control" id="mobile" name="mobile">
                    </div>
                    <div class="form-group mb-2 col-sm-5">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                </div>
            </div>
            <div class="info-block-warning mb-2 p-2">
                <p class="col-10">
                    указанный адрес постоянной регистрации и адрес электронной почты могут быть использованы КГТУ им.И.Раззакова для направления юридически значимых сообщений в соответствии с Правилами внутреннего распорядка обучающихся КГТУ им.И.Раззакова.
                </p>
            </div>
            <div class="info-block mb-2 p-2">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="col">Сведения об имеющемся образовании:</p>
                        <div class="form-group mb-2">
                              <label for="education" class="col-form-label">
                                  Уровень образования:
                              </label>
                            <select class="form-select" aria-label="уровень образования" id="education">
                              <option selected>Выберите уровень</option>
                              <option value="1">Высшее</option>
                              <option value="2">Бакалавр</option>
                              <option value="3">Магистр</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p class="col">Документ об образовании и квалификации:</p>
                        <div class="row">
                            <div class="form-group mb-2 col-sm-4">
                                <label for="diploma_number" class="col-form-label">Серия и номер:</label>
                                   <input type="text" class="form-control" id="diploma_number" name="diploma_number">
                            </div>
                            <div class="form-group mb-2 col-sm-4">
                                <label for="diploma_issued" class="col-form-label">Дата выдачи:</label>
                                <input type="date" class="form-control" id="diploma_issued" name="diploma_issued">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group mb-2 col-sm-11">
                            <label for="organization" class="col-form-label">Наименование образовательной организации (полностью):</label>
                            <input type="text" class="form-control" id="organization" name="organization">
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block-warning mb-2 p-2">
                <div class="col-10">
                    <p>
                          <input class="form-check-input" type="checkbox" value="" id="term_confirmation" checked>
                        <label class="btn btn btn-outline-secondary" for="term_confirmation" data-bs-toggle="collapse" data-bs-target="#infoconfermation" aria-expanded="false" aria-controls="infoconfermation">
                            <span class="info-block-subtitle">Подтверждаю ознакомление с нижеследующей информацией:</span>
                          </label>
                    </p>
                </div>
                <div class="collapse" id="infoconfermation">
                    <div class="card card-body">
                        <p>правилами приема на обучение, уставом КГТУ им.И.Раззакова, со сведениями о дате предоставления и регистрационным номере лицензии на осуществление образовательной деятельности, свидетельством о государственной аккредитации, с образовательными программами и другими документами, регламентирующими организацию и осуществление образовательной деятельности, правилами внутреннего распорядка обучающихся КГТУ им.И.Раззакова, иными локальными нормативными актами.
                        </p>
                        <p class="info-block-subtitle">Подтверждаю следующие факты:</p>
                        <ul class="">
                            <li>согласие на обработку моих персональных данных (прилагается);</li>
                            <li>
                                ознакомление с информацией о необходимости указания в заявлении о приеме достоверных сведений и представления подлинных документов;
                            </li>
                            <li>при поступлении на обучение на места в рамках контрольных цифр приема.</li>
                        </ul>
                        <p class="info-block-subtitle">Подтверждаю достоверность предоставленных мною данных в заявлении о приеме.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                  <button class="btn btn-primary col-4" type="submit">Отправить</button>
                  <button class="btn btn-secondary col-4" type="cancel">Очистить</button>	
            </div>
        </form>
    </div>
</div>
{% endblock %}
