{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %} 
{% block title %}New Application Polytech{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/application_form.css' %}?{% now 'U' %}"/>
{% endblock %}

{% block page_content %}
<div class="main_block_section mb-3">
    <div class="application-form col-10">
        <h4 class="text-center text-uppercase">Заявление</h4>
        <form class="" action="" method="post">
            {% csrf_token %}
            <p class="col-sm-10">
                Прошу допустить меня к сдаче вступительных испытаний для приема 
                на обучение по программе подготовки научных и научно-педагогических 
                кадров аспирантуре в следующем приоритетном порядке: 
            </p>
            <div class="row">
                <div class="form-group mb-2 col-sm-8">
                    <label for="specialty">Наименование научной специальности:</label>
                    {% render_field form.specialty class="form-select" id="specialty" aria-label="specialty" %}
                </div>
                <div class="form-group mb-2 col-sm-2">
                    <label for="form_of_study">Форма обучения:</label>
                    {% render_field form.form_of_study class="form-select" id="form_of_study" aria-label="form_of_study" %}
                </div>
            </div>
            <div class="row">
                <p class="col-sm-8">
                    Срок освоения образовательной программы составляет 
                    {% render_field form.number_of_years style="width: 50px" min='1' max='4' id="number_of_years" type="number" %} года.
                </p>
                <div class="form-group mb-2 col-sm-2">
                    <label for="application_date">Дата заявления:</label>
                    {% render_field form.application_date class="form-control" id="application_date" type="date" placeholder=form.application_date.value %}
                </div>
            </div>
            <div class="info-block mb-2 p-2">
                <p class="col-10">О себе сообщаю следующие сведения:</p>
                <div class="row">
                    <div class="form-group mb-2 col-sm-4">
                        <label for="last_name">Фамилия:</label>
                        {% render_field form.last_name class="form-control" id="last_name" type="text" %}
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="first_name">Имя:</label>
                        {% render_field form.first_name class="form-control" id="first_name" type="text" %}
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="middle_name">Отчество:</label>
                        {% render_field form.middle_name class="form-control" id="middle_name" type="text" %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col-sm-4">
                        <label for="birth_date">Дата рождения:</label>
                        {% render_field form.birth_date type="date" class="form-control" id="birth_date" %}
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="gender">Пол:</label>
                        {% render_field form.gender class="form-select" id="gender" aria-label="gender" %}
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="citizenship">Гражданство:</label>
                        {% render_field form.citizenship class="form-select" id="citizenship" aria-label="citizenship" %}
                    </div>
                </div>
            </div>
            <div class="info-block mb-2 p-2">
                <p class="col-10">Документ, удостоверяющий личность и гражданство:</p>
                <div class="row">
                    <div class="form-group mb-2 col-sm-5">
                        <label for="passport">Вид документа:</label>
                        {% render_field form.document_name type="text" class="form-control" id="document_name" %}
                    </div>
                    <div class="form-group mb-2 col-sm-2">
                        <label for="series">серия:</label>
                        {% render_field form.document_code type="text" class="form-control" id="document_code" %}
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="number">номер:</label>
                        {% render_field form.document_number type="text" class="form-control" id="document_number" %}
                    </div>
                </div>
                <div class="row">
                    <div class="form-group mb-2 col-sm-5">
                        <label for="issued_by">Кем выдан:</label>
                        {% render_field form.issued_by type="text" class="form-control" id="issued_by" %}
                    </div>
                    <div class="form-group mb-2 col-sm-2">
                        <label for="issue_date">когда выдан:</label>
                        {% render_field form.issue_date type="date" class="form-control" id="issue_date" %}
                    </div>
                    <div class="form-group mb-2 col-sm-3">
                        <label for="personal_number">ИНН:</label>
                        {% render_field form.personal_number type="text" class="form-control" id="personal_number" %}
                    </div>
                
                    <div class="col-sm-12">
                        <div class="form-group mb-2 col-sm-11">
                            <label for="birth_place">Место рождения:</label>
                            {% render_field form.birthdate_place type="text" class="form-control" id="birthdate_place" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block mb-2 p-2">
                <p class="col-10">Контактные данные:</p>
                <div class="row">
                    <div class="form-group mb-2 col-sm-5">
                        <label for="mobile">Номер мобильного телефона:</label>
                        {% render_field form.mobile type="text" class="form-control" id="mobile" %}
                    </div>
                    <div class="form-group mb-2 col-sm-5">
                        <label for="email">Email:</label>
                        {% render_field form.email type="email" class="form-control" id="email" %}
                    </div>
                </div>
            </div>
            <div class="info-block-warning mb-2 p-2">
                <p class="col-10">
                    указанный адрес постоянной регистрации и адрес электронной почты могут быть использованы КГТУ им.И.Раззакова для направления юридически значимых сообщений в соответствии с Правилами внутреннего распорядка обучающихся КГТУ им.И.Раззакова.
                </p>
            </div>
            <div class="info-block mb-2 p-2">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="col">Сведения об имеющемся образовании:</p>
                        <div class="form-group mb-2">
                            <label for="education" class="col-form-label">Уровень образования:</label>
                            {% render_field form.education_level class="form-select" id="education_level" aria-label="education_level" %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p class="col">Документ об образовании и квалификации:</p>
                        <div class="row">
                            <div class="form-group mb-2 col-sm-4">
                                <label for="diploma_number" class="col-form-label">Серия и номер:</label>
                                {% render_field form.diploma_number type="text" class="form-control" id="diploma_number" %}
                            </div>
                            <div class="form-group mb-2 col-sm-4">
                                <label for="diploma_issued" class="col-form-label">Дата выдачи:</label>
                                {% render_field form.diploma_issued type="date" class="form-control" id="diploma_issued" %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group mb-2 col-sm-11">
                            <label for="organization" class="col-form-label">Наименование образовательной организации (полностью):</label>
                            {% render_field form.edu_organization type="text" class="form-control" id="edu_organization" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-block-warning mb-2 p-2">
                <div class="col-10">
                    <p>
                        <input class="form-check-input" type="checkbox" value="" id="is_terms_accepted" checked>
                        <label class="btn btn btn-outline-secondary" for="is_terms_accepted" data-bs-toggle="collapse" data-bs-target="#infoconfermation" aria-expanded="false" aria-controls="infoconfermation">
                            <span class="info-block-subtitle">Подтверждаю ознакомление с нижеследующей информацией:</span>
                          </label>
                    </p>
                </div>
                <div class="collapse" id="infoconfermation">
                    <div class="card card-body">
                        <p>правилами приема на обучение, уставом КГТУ им.И.Раззакова, со сведениями о дате предоставления и регистрационным номере лицензии на осуществление образовательной деятельности, свидетельством о государственной аккредитации, с образовательными программами и другими документами, регламентирующими организацию и осуществление образовательной деятельности, правилами внутреннего распорядка обучающихся КГТУ им.И.Раззакова, иными локальными нормативными актами.
                        </p>
                        <p class="info-block-subtitle">Подтверждаю следующие факты:</p>
                        <ul class="">
                            <li>согласие на обработку моих персональных данных (прилагается);</li>
                            <li>
                                ознакомление с информацией о необходимости указания в заявлении о приеме достоверных сведений и представления подлинных документов;
                            </li>
                            <li>при поступлении на обучение на места в рамках контрольных цифр приема.</li>
                        </ul>
                        <p class="info-block-subtitle">Подтверждаю достоверность предоставленных мною данных в заявлении о приеме.</p>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                  <button class="btn btn-primary col-4" type="submit">Отправить</button>
                  <button class="btn btn-secondary col-4" type="reset">Очистить</button>	
            </div>
        </form>
    </div>
</div>
{% endblock %}
