{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %} 
{% block title %}Application Polytech{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}?{% now 'U' %}"/>
{% endblock %}

{% block page_content %}
<div class="main_block_section col-sm-6 mb-3">
    <h3 class="fs-4 col-sm-12">Редактировать мой профиль</h3>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group row mb-2 text-sm-start">
            <label for="first_name" class="col-sm-4 col-form-label fs-5">{{ user_form.first_name.label_tag }}</label>
            <div class="col_value col-sm-6">{{ user_form.first_name }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="last_name" class="col-sm-4 col-form-label fs-5">{{ user_form.last_name.label_tag }}</label>
            <div class="col_value col-sm-6">{{ user_form.last_name }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="middle_name" class="col-sm-4 col-form-label fs-5">{{ profile_form.middle_name.label_tag }}</label>
            <div class="col_value col-sm-6">{{ profile_form.middle_name }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="mobile" class="col-sm-4 col-form-label fs-5">{{ profile_form.mobile.label_tag }}</label>
            <div class="col_value col-sm-6">{{ profile_form.mobile }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="email" class="col-sm-4 col-form-label fs-5">{{ user_form.email.label_tag }}</label>
            <div class="col_value col-sm-6">{{ user_form.email }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="personal_number" class="col-sm-4 col-form-label fs-5">{{ profile_form.personal_number.label_tag }}</label>
            <div class="col_value col-sm-6">{{ profile_form.personal_number }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="birth_date" class="col-sm-4 col-form-label fs-5">{{ profile_form.birth_date.label_tag }}</label>
            <div class="col_value col-sm-6">{{ profile_form.birth_date }}</div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="gender" class="col-sm-4 col-form-label fs-5">{{ profile_form.gender.label_tag }}</label>
            <div class="col_value col-sm-6">
                {% render_field profile_form.gender class="form-select" id="gender" aria-label="gender" %}
            </div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="department" class="col-sm-4 col-form-label fs-5">{{ supervisor_form.department.label_tag }}</label>
            <div class="col_value col-sm-6">
                {% render_field supervisor_form.department class="form-select" id="department" aria-label="department" %}
            </div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="academic_title" class="col-sm-4 col-form-label fs-5">{{ supervisor_form.academic_title.label_tag }}</label>
            <div class="col_value col-sm-6">
                {% render_field supervisor_form.academic_title class="form-select" id="academic_title" aria-label="academic_title" %}
            </div>
        </div>
        <div class="form-group row mb-2 text-sm-start">
            <label for="academic_degree" class="col-sm-4 col-form-label fs-5">{{ supervisor_form.academic_degree.label_tag }}</label>
            <div class="col_value col-sm-6">
                {% render_field supervisor_form.academic_degree class="form-select" id="academic_degree" aria-label="academic_degree" %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 d-flex justify-content-between">
                <button class="btn btn-primary col-sm-4" type="submit">Сохранить</button>
                <a href="{% url 'profiles:supervisor_profile' %}" class="btn btn-secondary col-sm-4 me-0">Отмена</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}