{% extends "base.html" %}
{% load static %}
{% block title %}Application Polytech{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/student_card.css' %}?{% now 'U' %}"/>
{% endblock %}

{% block page_content %}
<div class="main_block_section col-sm-6 mb-3">
    <h3 class="fs-4 col-sm-12 text-uppercase">Мой профиль</h3>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Фамилия</div>
        <div class="col_value col-sm-6">{{ user.last_name }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Имя</div>
        <div class="col_value col-sm-6">{{ user.first_name}}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Отчество</div>
        <div class="col_value col-sm-6">{{ user.profile.middle_name }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Номер телефона</div>
        <div class="col_value col-sm-6">{{ user.profile.mobile }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Email</div>
        <div class="col_value col-sm-6">{{ user.email }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">ИНН</div>
        <div class="col_value col-sm-6">{{ user.profile.personal_number }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Дата рождения</div>
        <div class="col_value col-sm-6">{{ user.profile.birth_date|date:"SHORT_DATE_FORMAT" }} г.</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Пол</div>
        <div class="col_value col-sm-6">{{ user.profile.get_gender_display }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Кафедра</div>
        <div class="col_value col-sm-6">{{ user.supervisor.department.name }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Ученое звание</div>
        <div class="col_value col-sm-6">{{ user.supervisor.academic_title.name }}</div>
    </div>
    <div class="row col-sm-12 mb-1">
        <div class="col_title col-sm-6">Ученая степень</div>
        <div class="col_value col-sm-6">{{ user.supervisor.academic_degree.name }}</div>
    </div>
    <div class="col-10 mb-2">
        <div class="d-flex justify-content-between">
            <a href="{% url 'profiles:edit_supervisor_profile' %}" class="btn btn-primary col-4">Редактировать</a>
        </div>
    </div>
</div>
<div class="col-10 mb-2">
    <div class="d-flex justify-content-between">
        <a href="{% url 'profiles:password_change' %}" class="btn btn-primary col-4">Сменить пароль</a>
    </div>
</div>
{% endblock %}