{% extends "base.html" %}
{% load static %}
{% block title %}Edit explanatory note{% endblock %}

{% block style_head %} {{ form.media }} {% endblock %}

{% block page_content %}
<div class="main_block_section mb-3">
    <h3 class="text-sm-center fs-4">Редактировать раздел объяснительной записка</h3>
    <form class="col-10" method="POST">
        {% csrf_token %}
          {{ form.errors }}
        <div class="form-group mb-2 text-sm-start">
            <label for="title" class="fs-5">{{ form.title.label_tag }}</label>
                {{ form.title }}
        </div>
        <div class="form-group mb-2 text-sm-start">
            <label for="content" class="fs-5">{{ form.content.label_tag }}</label>
                {{ form.content }}
        </div>
        <div class="form-group mb-3 text-sm-start">
            <label for="sort" class="fs-5">{{ form.sort.label_tag }}</label>
            <div class="w-25 ms-0">
                {{ form.sort }}
            </div>
        </div>
        {{ form.is_custom.as_hidden }}
        <div class="d-flex justify-content-between">
              <button class="btn btn-primary col-sm-4" type="submit">Сохранить</button>
              <a href="{{ view.get_success_url }}" class="btn btn-secondary col-sm-4 me-0" role="button">Отменить</a>
        </div>
    </form>
</div>

{% endblock %}