{% extends "base.html" %}
{% load static %}
{% block title %}Supervisor Polytech{% endblock %}

{% block style_head %} 
    
{% endblock %}

{% block page_content %}
<div class="main_block_wrapper">
    <div class="main_block_section mb-3">
        <h3 class="fs-2">Список заявлений</h3>
        <form class="d-flex col-6" action="{% url 'search_application' %}" method="GET">
          <input class="form-control me-2" type="search" placeholder="Поиск аспирантов" aria-label="Search" name='query'>
          <button class="btn btn-primary btn-search" type="submit">
              <img src="{% static 'images/search_white_30.png' %}"><span>Найти<span>
          </button>
        </form>
    </div>
    <div class="main_block_section mb-3">
        <div class="row">
            <div class="col-sm-1 fw-bold">id</div>
            <div class="col-sm-2 fw-bold">ФИО</div>
            <div class="col-sm-5 fw-bold">Специальность</div>
            <div class="col-sm-1 fw-bold">Форма обучения</div>
            <div class="col-sm-1 fw-bold">Дата заявления</div>
            <div class="col-sm-1 fw-bold">Статус</div>
            <div class="col-sm-1 fw-bold">Действия</div>
        </div>
        <hr/>
        {% for application in applications %}
        <div class="row">
            <div class="col-sm-1">{{ application.id }}</div>
            <div class="col-sm-2">{{ application.user.last_name }} {{ application.user.first_name }} {{ application.user.profile.middle_name }}</div>
            <div class="col-sm-5">{{ application.specialty.code }} {{ application.specialty.name }}</div>
            <div class="col-sm-1">{{ application.get_form_of_study_display }}</div>
            <div class="col-sm-1">{{ application.application_date|date:"SHORT_DATE_FORMAT" }}</div>
            <div class="col-sm-1 text-capitalize">{{ application.get_status_display }}</div>
            <div class="col-sm-1">
                <a href="{% url 'show_application' id=application.id %}">
                    <img src="{% static 'images/view.png' %}" alt="edit" width="28" height="28" title="Просмотреть">
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}