{% extends "base.html" %}
{% load static %}

{% block title %}Study plan{% endblock %}

{% block style_head %} 
    <link rel="stylesheet" type="text/css" href="{% static 'css/study_plan.css' %}?{% now 'U' %}"/>
{% endblock %}

{% block page_content %}
<div class="main_block_wrapper">
    <h3 class="text-sm-center fs-3">{{ study_plan.plan_type.title }}</h3>
    {% for work in study_plan.study_plan_works.all %}
        <div class="study_plan_section col-sm-10 mb-2">
            <div class="row px-5">
                <h4 class="fs-4 col-sm-8 ms-0 ps-0">{{ work.work_type.title }}</h4>
                <div class="col-sm-2 py-2">
                    <div class="progress">
                        <div class="progress-bar bg-success" style="width:{{ work.completion_percentage }}%" role="progressbar">{{ work.completion_percentage }}</div>
                        <div class="progress-bar bg-info" style="width:{{ work.left_percentage }}%" role="progressbar"></div>
                    </div>
                </div>
            </div>
            {% for scope in work.study_work_scopes.all %}
                <div class="row px-3 pb-2">
                    <div class="card col-sm-12 mb-1">							
                        <div class="card-header fs-5 fw-bolder w-100">{{ scope.work_scope.title }}:
                            {% if scope.work_scope.code == 'subject' or scope.work_scope.code == 'exam' %}
                                <a href="{% url 'student_study_plans:new_scope_details' id=scope.id %}">
                                    <img src="{% static 'images/add.png' %}" alt="edit" width="32" height="32" title="Добавить дисциплину">
                                </a>
                            {% else %}
                                <a href="{% url 'student_study_plans:new_scope_details' id=scope.id %}">
                                    <img src="{% static 'images/add.png' %}" alt="edit" width="32" height="32" title="Добавить содержание">
                                </a>
                            {% endif %}
                        </div>
                        {% for details in scope.study_work_scope_details.all %}
                            <div class="card-body row">
                                <div class="fw-bold col-sm-6">Краткое содержание работы:</div>
                                <div class="fw-bold col-sm-2">срок:</div>
                                <div class="fw-bold col-sm-2">форма отчетности:</div>
                                <div class="fw-bold col-sm-2">Действия:</div>
                                {% if scope.work_scope.code == 'subject' or scope.work_scope.code == 'exam' %}
                                    <div class="col-sm-6">
                                        {{ details.subject.name }}
                                    </div>
                                {% else %}
                                    <div class="col-sm-6">
                                        {% if details.subtitle %}
                                            {{ details.subtitle }} <br>
                                        {% endif %}
                                        {{ details.summary }}
                                    </div>
                                {% endif %}
                                <div class="col-sm-2">{{ details.deadline|date:"SHORT_DATE_FORMAT" }}</div>
                                <div class="col-sm-2">{{ details.reporting_form }}</div>
                                <div class="col-sm-2">
                                    <a href="{% url 'student_study_plans:edit_scope_details' id=details.id %}">
                                        <img src="{% static 'images/pencil.png' %}" alt="edit" width="28" height="28" title="Редактировать">
                                    </a> 
                                    <a href="{% url 'student_study_plans:remove_work_scope_details' id=details.id %}">
                                        <img src="{% static 'images/delete.png' %}" alt="edit" width="28" height="28" title="Удалить">
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}