<div class="container">
  <nav class="navbar navbar-expand">
    {% load static %}
    <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png '%}" alt="logo">
      <span class="pl-2 logo-text">КГТУ им. И.Раззакова</span>
    </a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end">
        {% if request.user.is_authenticated %}
          {% for m in menu %}
              <li class="nav-item">
                <a class="nav-link" href="{% url m.url_name %}">{{ m.title }}</a>
              </li>
          {% endfor %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Выход</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}" class="nav-link">Вход</a>
          </li>
        {% endif %}
      </ul>
  </nav>
</div>