{% extends "base.html" %}
{% load static %}

{% block title %}Delete confirmation{% endblock %}

{% block style_head %} {% endblock %}

{% block page_content %}
<div class="main_block_wrapper">
    <div class="confirm_delete_wrapper col-sm-10 mb-2 p-2">
        <form method="POST">
            {% csrf_token %}
            <h5 class="mb-3">{{ title }}</h5>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-between">
                    <input type='submit' class="btn col-sm-3 btn-danger" value="Да, удалить">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn col-sm-3 btn-secondary ml-2">Нет, вернуться назад</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}