{% extends "base.html" %}
{% load static %}
{% block title %}Posgratude Polytech{% endblock %}

{% block page_content %}
<h2 class="main_title">Добро пожаловать в аспирантуру</h2>
<div class="menu-box__wrapper">
    <a href="#" class="menu-box__link mb-3">
        <div class="menu-square">
            <h3 class="menu-square__title pt-5 mb-5">Заявление</h3>
            <div class="menu-square__icon mt-3">
                <img src="{% static 'images/application_form.png' %}" alt="application">
            </div>
        </div>
    </a>
    <a href="#" class="menu-box__link mb-3">
        <div class="menu-square">
            <h3 class="menu-square__title pt-5 mb-5">Аспирант</h3>
            <div class="menu-square__icon mt-3">
                <img src="{% static 'images/student.png' %}" alt="postgratudate">
            </div>
        </div>
    </a>
    <a href="#" class="menu-box__link mb-3">
        <div class="menu-square">
            <h3 class="menu-square__title pt-5 mb-5">Руководитель</h3>
            <div class="menu-square__icon mt-3">
                <img src="{% static 'images/professor.png' %}" alt="supervisor">
            </div>
        </div>
    </a>
    <a href="#" class="menu-box__link mb-3">
        <div class="menu-square">
            <h3 class="menu-square__title pt-5 mb-5">Администрация</h3>
            <div class="menu-square__icon mt-3">
                <img src="{% static 'images/manager.png' %}" alt="administration">
            </div>
        </div>
    </a>
</div>
{% endblock %}
